
<p>
  <%= @note.course.name %> : <b><%= @note.formatted_day %></b>
</p>

<p>
  <b><%= @note.title %></b>
</p>

<div class='showdown note_body'>
  <%= @note.body %>
</div>


<%= link_to 'Edit', edit_course_note_path(@course, @note) %> |
<%= link_to 'Back', course_path(@course) %>
