<h1>
  <%= @course.name %>
</h1>

<p class='showdown course_description'>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', '/' %> | 
<%= link_to 'New Note', new_course_note_path(@course) %>

<h3>Notes</h3>
<hr/>

<ul>
  <% @course.notes.each do |note| %>
    <li>
      <%= link_to note.formatted_day, course_note_path(@course, note) %> |
      <%= link_to 'Edit', edit_course_note_path(:course_id => @course.id, :id => note.id) %> | 
      <%= link_to 'Destroy', 
                       course_note_path(:course_id => @course.id, :id => note.id),
                       method: :delete, 
                       data: { confirm: 'Are you sure?' } %>
      <%= note.title %>
    </li>
  <% end %>
</ul>
  

